<mat-toolbar class="header mat-elevation-z4">
    <span class="title">
        <a routerLink="/">Task Control</a>
    </span>
    <div class="user-section">
        <div class="username-wrapper">
            <span class="username">{{ username }}</span>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-trigger">
                <mat-icon>expand_more</mat-icon>
            </button>
        </div>
        <div class="profile-circle">
            {{ getInitials() }}
        </div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
                <mat-icon >exit_to_app</mat-icon>
                <span>Sair</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>
<p class="page-title">
    {{ pageTitle }}
    @if (breadcrumbs.at(-1)?.label === 'Sprints') {
        <span class="aditional-action">
            <button mat-fab extended color="primary" (click)="openAddUsersDialog()">
                <mat-icon>group_add</mat-icon>
                <span>Adicionar usuários</span>
            </button>
        </span>
    }
</p>
@if (breadcrumbs.length > 1) {
    <nav class="breadcrumbs" [class.with-button]="breadcrumbs.at(-1)?.label === 'Sprints'">
        <ol class="breadcrumb-list">
            @for (crumb of breadcrumbs; track crumb.url; let last = $last) {
                <li class="breadcrumb-item">
                    @if (crumb.active) {
                        <span class="breadcrumb-text active">{{ crumb.label }}</span>
                    } @else {
                        <a [routerLink]="crumb.url" class="breadcrumb-link">{{ crumb.label }}</a>
                    }
                    @if (!last) {
                        <mat-icon class="breadcrumb-separator">chevron_right</mat-icon>
                    }
                </li>
            }
        </ol>
    </nav>
}